# Write programs using lists in python
1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [3]:
aList = [100,200,300,400,500]

In [5]:
aList[::-1]

[500, 400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [15]:
l1=[]
for i in range(150,201,2):
    l1.append(i)
print(l1)
print(len(l1))

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
26

In [11]:
l2=[]
for i in (l1):
    if i%4 == 0:
        l2.append(i)
print(l2)

[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [14]:
import math
alist = [1, 4, 9, 16, 25, 36, 49]
sqrtlist = []
for i in (alist):
    i = math.sqrt(i)
    sqrtlist.append(i)
print(sqrtlist)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [7]:
list1 = [5, 6,7]
list2 = [0, 1]
for i1 in (list1):
    for i2 in (list2):
        print(i1,i2, sep = "")

50
51
60
61
70
71

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [2]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
l3=list2[::-1]
for i1,i2 in zip(list1,l3):
    print(i1,i2)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [5]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
for i in (list1):
    if i == "":
        list1.remove(i)
print(list1)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [16]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [17]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [23]:
list1 = [5, 10, 15, 20, 25, 50, 20]
l2=list1.index(20)
list1[l2]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]

In [41]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for e in list1:
    if 20 in list1:
        list1.remove(20)
print(list1)

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number

In [38]:
num=input("Enter an integer number:")
linum=list(num)
linum.sort()
minnum=''.join(linum)
print("The minimum number is: ",minnum)
lr=linum[::-1]
maxnum=''.join(lr)
print("The maximum number is: ",maxnum)

Enter an integer number:4572
The minimum number is:  2457
The maximum number is:  7542

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [ ]:
n=int(input("Enter a number:"))
all_digits=list(n)
for i in all_digits:
    if i % 2 == 0: