1. A student will not be allowed to sit in exam if his/her attendence is less than 75%.  
   Take following input from user Number of classes held Number of classes attended. And print percentage of class attended  
   Is student is allowed to sit in exam or not.

In [ ]:
number_classes=100
number_attended=75
percentage = (number_attended/number_classes)*100
if 100>=percentage>=75:
    print(percentage)
    print("You are eligible for exam")
else:
    print("Better luck next time!")

75.0
You are eligible for exam

2. accept amount from user and find the minimum number notes required to get the amount amount =512  
Notes: 2000,500,100,50,10,5,2,1  

500-1 note  
10  - 1 note  
2-  1 coin  

amount=20550  
2000 – 10 note  
500 – 1 note  
50 -1 note

In [ ]:
amount=int(input("Enter amount"))
notes_2k=amount//2000
if(notes_2k>0):
    print("2000 notes =",notes_2k)
rem=amount%2000
notes_500=rem//500
print("500 notes=",notes_500)
rem=amount%500
notes_100=rem//100
print("100 notes=",notes_100)
rem=amount%100
notes_50=rem//50
print("50 notes=",notes_50)
rem=amount%50
notes_10=rem//10
print("10 notes=",notes_10)
rem=amount%10
coins_5=rem//5
print("5 coins=",coins_5)
rem=amount%5
coins_2=rem//2
print("2 coins=",coins_2)
print("1 coins=",rem)

Enter amount512
500 notes= 1
100 notes= 0
50 notes= 0
10 notes= 1
5 coins= 0
2 coins= 1
1 coins= 2

3.	Modify the above question Q1 to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [ ]:
number_classes=100
number_attended=int(input("Enter number of classes attended out of 100:"))
percentage = (number_attended/number_classes)*100
med_cause=input("Enter 'Y'for medical cause and 'N'for no:")
if (med_cause=='Y') and (percentage<75):
    print("You are eligible for exam dont worry")
if (100>=percentage>=75) or (med_cause=='Y'):
    print("attendance:",percentage)
else:
    print("Sorry your attendance is not sufficient, Better luck next time !!!!")

Enter number of classes attended out of 100:74
Enter 'Y'for medical cause and 'N'for no:N
Sorry your attendance is not sufficient, Better luck next time !!!!

4.	A school has following rules for grading system:  
a.	Below 25 - F  
b.	25 to 45 - E  
c.	45 to 50 - D  
d.	50 to 60 - C  
e.	60 to 80 - B  
f.	Above 80 - A  
Ask user to enter marks and print the corresponding grade.

In [ ]:
marks=int(input("Enter your marks "))
if 100>=marks>=80:
    print("You have obtained A grade !!!")
elif 80>=marks>=60:
    print("You have obtained B grade.")
elif 60>=marks>=50:
    print("You have obtained C grade.")
elif 50>=marks>=45:
    print("You have obtained D grade.")
elif 45>=marks>=25:
    print("You have obtained E grade.")
else:
    print("Failed : F grade")

Enter your marks 19
Failed : F grade

 If  x = 2 y = 5 z = 0  then find values of the following expressions and Print the output of following statements  
a.	x == 2  
b.	x != 5  
c.	x != 5 & y >= 5  
d.	z != 0 | x == 2  
e.	not(y < 10)

In [ ]:
x=2
y=5
z=0
x==2
#x!=5
#x!=5&y>=5
#z!=0|x==2
#not(y<10)

True

In [ ]:
x=2
y=5
z=0
#x==2
x!=5
#x!=5&y>=5
#z!=0|x==2
#not(y<10)

True

In [ ]:
x=2
y=5
z=0
#x==2
#x!=5
x!=5&y>=5
#z!=0|x==2
#not(y<10)

True

In [ ]:
x=2
y=5
z=0
#x==2
#x!=5
#x!=5&y>=5
z!=0|x==2
#not(y<10)

True

In [ ]:
x=2
y=5
z=0
#x==2
#x!=5
#x!=5&y>=5
#z!=0|x==2
not(y<10)

False

6.	Accept number from user and check whether it is divisible by 5 and 11 if divisible then display appropriate message.

In [ ]:
num=int(input("Enter any number of your choice: "))
if(num%5==0)and(num%11==0):
    print("your number is divisible by 5 and 11")
else:
    print("Not divisible")

Enter any number of your choice: 55
your number is divisible by 5 and 11

7.	Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :  
             Unit                                    Price    
First 100 units                                       no charge  
Next 100 units                                        Rs 5 per unit  
After 200 units                                       Rs 10 per unit  
(For example if input unit is 350 than total bill amount is Rs2000)

In [ ]:
units=int(input("Enter number of units: "))
bill=0
if units<=100:
    print("Congratulations!!! No Charge!!!")
elif 200>=units>100:
    rem=units-100
    bill=rem*5
    print("Your bill is: ",bill)
elif units>200:
    rem=units-200
    bill=rem*10+100*5
    print("Your bill is: ",bill)

Enter number of units: 350
Your bill is:  2000

8.	Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [ ]:
num=input("Enter any number you want: ")
l=len(num)
n_num=int(num)
for i in range(1,l):
    rem=n_num%10
if rem%3==0:
    print("last digit is divisible by 3")
else:
    print("last digit is not divisible by 3")

Enter any number you want: 145
last digit is not divisible by 3

9.	Write a program to check whether an years is leap year or not the year is leap if it satisfies following condition  
•	It the year is divisible by 100 o If it is divisible by 100, then it should also be divisible by 400 then it is leap year  
•	otherwise, all other years divisible by 4 and not divisible by 100 then it is leap year.

In [ ]:
year=int(input("Enter any year: "))
if (year%400==0) and (year%100==0) or (year%4==0):
    print("Leap Year")
else:
    print("Not a leap year!")

10. Write a program to accept the price of a bike and display the road tax and insurance to be paid according to the following criteria . also display total amount to be paid.  
      
        Cost price (in Rs)           Tax                Inssurance  
        > 100000                     15 %                   20%  
        > 50000 and <= 100000        10%                    8%  
        <= 50000                     5%                     5%

In [ ]:
cp=int(input("Enter cost price of bike: "))
if cp>100000:
    print("15% Tax and 20% Inssurance")
    tax=(cp*15)//100
    print("Tax to be paid: ",tax)
    inssurance=(cp*20)//100
    print("inssurance to be paid: ",inssurance)
elif 100000>=cp>50000:
    print("10% Tax and 8% Inssurance")
    tax=(cp*10)//100
    print("Tax to be paid: ",tax)
    inssurance=(cp*8)//100
    print("inssurance to be paid: ",inssurance)
elif cp<=50000:
    print("5% Tax and 5% Inssurance")
    tax=(cp*5)//100
    print("Tax to be paid: ",tax)
    inssurance=(cp*5)//100
    print("inssurance to be paid: ",inssurance)
else:
    pirnt("Enter valid credentials")

Enter cost price of bike: 20000
5% Tax and 5% Inssurance
Tax to be paid:  1000
inssurance to be paid:  1000


Loop Questions:

1.	Accept 10 integers from user  and print their average value on the screen

In [ ]:
total=0
for i in range(10):
    num=int(input("Number entered is: "))
    total=total+num
avg=total//10
print("average of numbers entered is: ",avg)

Number entered is: 2
Number entered is: 3
Number entered is: 4
Number entered is: 5
Number entered is: 6
Number entered is: 5
Number entered is: 4
Number entered is: 3
Number entered is: 2
Number entered is: 3
average of numbers entered is:  3

2.	Print the following patterns using loop :
a.
*
**
***
****

In [ ]:
n=int(input("enter any number"))
for i in range(1,n):
    print('*'*i)

enter any number5
*
**
***
****


    *                    
  ***                
*****
  ***
    *

In [ ]:
n=int(input("enter any number"))
sp=n-1
for i in range (1,n+1,2):
    print(' '*sp,'*'*i,sep="")
    sp=sp-2
sp=2
for j in range(n-2,0,-2):
    print(' '*sp,'*'*j,sep="")
    sp=sp+2

enter any number7
      *
    ***
  *****
*******
  *****
    ***
      *

Q. Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [ ]:
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
if num1>num2:
   s=num2
else:
   s=num1
for i in range(1,s+1):
    if(num1%i==0)and(num2%i==0):
        gcd=i
print("gcd is : ",gcd)

Enter first number : 48
Enter second number : 60
gcd is :  12

Take integer inputs from user until he/she presses q ( Ask to press q to quit after every integer input ). Print average and product of all numbers.

In [ ]:
total=0
count=0
product=1
while(1):
   n=input("Enter number press q to quit :")
   if(n=='q')or(n=='Q'):
      break
   else:
      n=int(n)
      total=total+n
      count=count+1
      product=product*n
print("Sum of numbers eneterd is: ",total)
avg=total//count
print("Avg of numbers entered is: ",avg)
print("Product of numbers entered is: ",product)

Enter number press q to quit :2
Enter number press q to quit :3
Enter number press q to quit :4
Enter number press q to quit :5
Enter number press q to quit :6
Enter number press q to quit :q
Sum of numbers eneterd is:  20
Avg of numbers entered is:  4
Product of numbers entered is:  720

Given a number count the total number of digits in a number and also find sum of digits of the number.

In [ ]:
t=0
num=input("enter any number : It has to be greater than 3 digits : ")
l=len(num)
n=int(num)
for i in range(0,l):
    d=n%10
    n=n//10
    t=t+d
print("sum = ",t)

enter any number : It has to be greater than 3 digits : 1234567
sum =  28

To display the cube of the number upto given an integer. If the given integer is 5, then display cube of 1 to 4.

In [ ]:
n=int(input("Enter the number : "))
for i in range (1,n+1):
    cube=i*i*i
    print("Cube of",i," = ",cube)

Enter the number : 5
Cube of 1  =  1
Cube of 2  =  8
Cube of 3  =  27
Cube of 4  =  64
Cube of 5  =  125

Accept 20 numbers from user and display sum of only even numbers.

In [ ]:
t=0
for i in range(0,20):
    n=int(input("Enter num : "))
    if n%2==0:
        t=t+n
print("Sum of even numbers entered is : ",t)

Enter num : 2
Enter num : 3
Enter num : 4
Enter num : 5
Enter num : 6
Enter num : 2
Enter num : 3
Enter num : 4
Enter num : 5
Enter num : 6
Enter num : 2
Enter num : 3
Enter num : 4
Enter num : 5
Enter num : 6
Enter num : 2
Enter num : 3
Enter num : 4
Enter num : 5
Enter num : 6
Sum of even numbers entered is :  48

	Ask user number of terms to be generated of a series.
generate numbers for the following series and find its addition
[9 + 99 + 999 + 9999+……..]

In [ ]:
t=0
n=int(input("Enter the number of digits you want in series : "))
for i in range (0,n+1):
    j='9'*i
    print(j ,"+",end="")
m=int(j)
t=((10**(n+1))-(9*n)-10)//9
print("  SUM = :",t)

Enter the number of digits you want in series : 5
 +9 +99 +999 +9999 +99999 +  SUM = : 111105

Write a program in python to display the sum of the series [ 1+x+x^2/2!+x^3/3!+....]. Go to the editor
Test Data :
Input the value of x :3 Input number of terms : 5 Expected Output :
The sum is : 16.375000

In [ ]:
import math
t=0
n=int(input("Enter the number of digits you want in series : "))
x=int(input("Enter the value of x : "))
for i in range(0,n):
      j=((x**i)/math.factorial(i))
      print(j,'+',end= " ")
      t=t+j
print("Sum is :",t)

Enter the number of digits you want in series : 5
Enter the value of x : 3
1.0 + 3.0 + 4.5 + 4.5 + 3.375 + Sum is : 16.375

Write a program in python to find the sum of the series [ x - x^3 + x^5 –x^7+x^9-x^11+ ......]. Go to the editor
Test Data :
Input the value of x :2 Input number of terms : 5 Expected Output :
The values of the series:
2
-8
32
-128
512
The sum = 410

In [ ]:
t=0
o=1
k=0
n=int(input("Enter the number of terms you want in series : "))
x=int(input("Enter the value of x : "))
for i in range(1,n+1):
      if i %2!=0:
           j=(x**o)
           print(j,end=" ")
           t=t+j
      else:
           k=-(x**o)
           print(k,"+",end=" ")
           t=t+k
      o=o+2
print("Sum is :",t)

Enter the number of terms you want in series : 5
Enter the value of x : 2
2 -8 + 32 -128 + 512 Sum is : 410

Take a number from user and check if it is prime or not

In [ ]:
no=11
num=int(input("Enter any number :"))
for num in range(no):
    if num > 1:
        if no % num ==0:
            print("Not prime")
            break
else:
    print("Prime")

Enter any number :5
Prime

Take a number from user and print sum of all odd numbers till that number.
Ex. Enter a no : 10   
Sum of all odd numbers till 10 : 1+3+5+7+9  =25

In [ ]:
t=0
num=int(input("Enter any number : "))
for i in range (1,num):
    if(i%2!=0):
       print(i,"+",end=" ")
       t=t+i
print("=",t)

Enter any number : 10
1 + 3 + 5 + 7 + 9 + = 25