In [ ]:
sec=int(input("Enter number of seconds :"))
hr=sec//3660
r1=sec%3600
min=r1//60
r2=sec%60
s=r2
print(hr,":",min,":",s)

Enter number of seconds :48900
13 : 35 : 0

In [ ]:
print("List of leap years between 2000-2100 :")
for i in range(1999,2100):
    if((i%4==0)and(i%100!=0))or(i%400==0):
        print(i)

List of leap years between 2000-2100 :
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

1. Write function which takes two parameters account no and name of the user.
Check if the account number is valid. Account no is valid only if it is a 4 digit number less than 5000
Check if the name is valid. Name is valid if all characters are alphabets and no numbers or special chars in the name
If both name and 'acc no' are valid return True
If acc no is invalid return a message string saying “Account no is invalid”
if name is invalid return None

In [ ]:
def acct(no,name):
    n1=int(no)
    if(len(no)==4)and(999<n1<5000):
        if(name.isalpha()==True):
            return True
        else:
            return 'None'
    else:
        return "Account number is invalid :"

No=input("Enter account number ")
Name=input("Enter name :")
acct(No,Name)

Enter account number 0009
Enter name :disha

'Account number is invalid :'

2. WA function to calculate total salary given that
1. post      2. basic salary
rules:
post can be manager or employee
total sal = basic + TA + HRA
TA = 5000 for 'manager'
and TA = 10,000 for 'employee'
HRA = 20,000 for 'manager' and HRA = 12,000 for 'employee'

return total salary based on two parameters

In [ ]:
def sal(post,basic):
     post=post.upper()
    if(post=='MANAGER'):
        salary=int(basic+5000+20000)
        return salary
     elif(post=='EMPLOYEE'):
        salary=int(basic+10000+12000)
        return salary
     else:
        print("Invalid Post !!!!")
p=input("Enter post :")
bs=int(input("Enter basic salary :"))
sal(p,bs)

Enter post :clerk
Enter basic salary :3000
Invalid Post !!!!

3.  WA function to rotate given string by 2 position to right

Ex.
s1=”IACSD”
Rotate by 2 place to right
“SDIAC”

In [ ]:
def rotate():
    string='IACSD'
    s2=" "
    for i in range (len(string)):
         s2+=string[i-2]
    print(s2)
rotate()

 SDIAC

4.  Generalize above function to rotate string to right by n

In [ ]:
def rotate(no):
    string=s
    s2=" "
    for i in range (len(string)):
         s2+=string[i-no]
    print(s2)
s=input("Enter any string :")
n=int(input("Enter number to rotate :"))
rotate(n)

Enter any string :vaishnavi
Enter number to rotate :4
 navivaish

5.  Generalize above function to rotate string by n to right or left

In [ ]:
def rotate(no):
    string=s
    s2=" "
    s3=" "
    for i in range (len(string)):
         s2+=string[i-no]
    s4=string[::-1]
    for i in range (1,len(string)):
         s3+=s4[i-no]
    print("Right rotation :",s2)
    print("Left rotation :",s3)
s=input("Enter any string :")
n=int(input("Enter number to rotate :"))
rotate(n)

Enter any string :abcd
Enter number to rotate :1
Right rotation :  dabc
Left rotation :  dcb

6.WAP to count number of passengers in every airline. Here we are given dictionary of passanger id and airline id Ex input_dir ={'p1':'a1','p2':'a10','p89':'a1','p5':'a10'} output: {'a1':2, 'a10':2}

In [1]:
def p_count(d1):
    d2=dict()
    for val in d1.values():
        count=0
        for k1 in d1.keys():
            if d1[k1]==val:
                count+=1
        d2[val]=count
    return d2
d1={'p1':'a1','p2':'a10','p89':'a1','p5':'a10'}
print(p_count(d1))

{'a1': 2, 'a10': 2}

7.given a list of strings. every string is in format "Emp_name:Emp_id" Emp_id is always a number if emp_id is amstrong number then rotate emp_name 1 place to the right --> and print the emp_name if emp_id is a prime no then print vowels from the employee name in other cases print consonents from the emp name Finally there should be print of every employee name as per given condition

In [4]:
def armstrong(num):
    po=len(num)
    sum=0
    for n in num:
        sum+=int(n)**po
    if sum==int(num):
        return True
    else:
        return False

def rotate(name):
    nm=name[-1:]+name[:-1]
    return nm

def prime(num):
    count=0
    num=int(num)
    for i in range(2,int(num**0.5)):
        if num%i==0:
            count+=1
    if count>0:
        return False
    else:
        return True

def vowel_l(name,choice):
    vowel=consonents=''
    for ch in name.lower():
        if ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u":
            vowel+=ch
        else:
            consonents+=ch
    if choice==1:
        return vowel
    else:
        return consonents

def check_list(l1):
    for ele in l1:
        emp_name,emp_id=ele.split(':')
        if armstrong(emp_id):
            print(rotate(emp_name))
        elif prime(emp_id):
            print(vowel_l(emp_name,1))
        else:
            print(vowel_l(emp_name,0))
check_list(['disha:660','vaishnavi:195','gautamee:36'])

dsh
vshnv
gtm

8.Write a function which takes all details of a person as input in sequence and prints details as follows (Hint: Think which type of parameter to be used for every option) a. Take name and Print it in Camel Case b. Take 10 digit Mobile No and print it appending +91 c. Take location as optional value. If not given then print India d. Take Qualifications. Qualifications can be 1 or 2 or many. Print all the passed qualifications one by one. Default qualification is "Human"

In [6]:
def phone(a1,a2,a3='India',*a4):
    print(a1.upper())
    print('+91',a2,sep='')
    print(a3)

    if not a4:
        a4 = ('Human')
    print(a4)

phone('Disha','3457567603','India','Pune','Maharashtra')

DISHA
+913457567603
India
('Pune', 'Maharashtra')

9.Create a function "cloth_details" with three arguments, color, shape and size. All three are optional and can be passed in any sequence by the user.

In [7]:
def cloth(color='Black', shape='Slim Fit',size=29 ):
    print(color)
    print(shape)
    print(size)

cloth("blue",'regular',32)

blue
regular
32

10.Create a calculator.py file Create add(), subtract(), multiply(), divide(), power(), log() functions Create a menu driven program to take values and operation as input from user and print result using these functions
Take ONLY integer inputs from user. If its not an integer then give Error message -> "WRONG Input: Please enter ONLY integer value" Your program should not give "ValueError" while using int() function for any input from below, It should display YOUR error message Enter a number : 10 Enter a number : 10.9 Enter a number : ABC (Hint: Think about methods from string data type to check input as integer

In [ ]:
import math
def check_int(num):
    if num.isdigit():
        num=int(num)
        return num
    else:
        print("WRONG Input: Please enter ONLY integer value")

def add(num1,num2):
    return num1+num2

def sub(num1,num2):
    return abs(num1-num2)

def mul(num1,num2):
    return num1*num2

def div(num1,num2):
    return num1/num2

def power(num1,num2):
    return num1**num2

def log(num1,num2):
    return math.log(num1,num2)

while True:
    choice=int(input("""
    Enter
    1 for addition
    2 for substraction
    3 for multiplication
    4 for division
    5 for power
    6 for log
    7 for exit
    Enter your choice:
    """))
    while True:
        num1=input("Enter first number: ")
        if isinstance(check_int(num1),int)==True:
            num1=int(num1)
            break
        else:
            continue
    while True:
        num2=input("Enter second number: ")
        if isinstance(check_int(num2),int)==True:
            num2=int(num2)
            break
        else:
            continue
    match choice:
        case 1:
            print(add(num1,num2))
        case 2:
            print(sub(num1,num2))
        case 3:
            print(mul(num1,num2))
        case 4:
            print(div(num1,num2))
        case 5:
            print(power(num1,num2))
        case 6:
            print(log(num1,num2))
        case 7:
            print("Exiting Program")
            break
        case _:
            print("Invalid input, enter correct option.")

11.Write a function which finds average of given arguments. Minimum it takes two parameters and maximum it can take any number of arguments. Finally it should return average of all arguments passed
Ex. avg(10,12) return value 11 avg(3,4,5) return value 4 avg(1,2,3,4,5,6,7,8,9,10) return value 5.5 Extra case avg(1,2,avg(4,5,6)) return value 2.667 (roughly 8/3)

In [8]:
def avg_fn(x, /, *args):
    summ = x
    for i in args:
        summ += i
    avg=summ/(len(args)+1)
    return round(avg,3)
avg_fn(1,2,avg_fn(4,5,6))

2.667