Q Sort all the numbers in a list in descending order using lambda function

In [ ]:
l1=[34,56,78,23]
#l2=print(sorted(l1,reverse=True))
l2=sorted(l1 , key = lambda l1 : l1 , reverse=True)
print(l2)

[78, 56, 34, 23]

In [ ]:
l = [12,3,23,43,11]
sorted_list = lambda a: sorted(a, reverse=True)
result = sorted_list(l)
print(result)

Q Sort all the characters of given string using lambda function

In [ ]:
#string_1 = "vaishnavi"
string_1=input("enter the string:")

print(sorted(string_1, key = (lambda str : str[::-1])))

enter the string:vaishnavi
['a', 'a', 'h', 'i', 'i', 'n', 's', 'v', 'v']

In [16]:
string='DishaSurve'
sorted_string = lambda a: sorted(a)
result = sorted_string(string)
print(result)

['D', 'S', 'a', 'e', 'h', 'i', 'r', 's', 'u', 'v']

Q Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [ ]:
string_list = ['was',"where","what","who","which","were","whose"]
def last_char(str1):
    return str1[-1]
print(sorted(string_list, key = last_char))
print(sorted(string_list, key = (lambda str1 : str1[-1])))

['where', 'were', 'whose', 'which', 'who', 'was', 'what']
['where', 'were', 'whose', 'which', 'who', 'was', 'what']

In [ ]:
list_of_string=['Disha','Surve','Vaishnavi','Bhagyashree','Myra']
def last_char(str1):
  return str1[-1]
print(sorted(list_of_string,key=lambda str1:str1[-1]))

 Q.Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [ ]:
Employee_list=["ram","disha","vaishnavi","Anuja","Gautamee","raju","rishabh"]
Employee_Nlist=set(Employee_list)
def sec_char(str):
     return str[1]
print(sorted(Employee_Nlist, key = sec_char))
print(sorted(Employee_Nlist, key = lambda str : str[1]))

['Gautamee', 'vaishnavi', 'raju', 'ram', 'disha', 'rishabh', 'Anuja']
['Gautamee', 'vaishnavi', 'raju', 'ram', 'disha', 'rishabh', 'Anuja']

In [17]:
list_employee=['disha','vaishnavi','trupti','disha','bhagyashree','trupti']
def with_lambda():
  list_unique=set(list_employee)
  sorted_list=sorted(list_unique,key=lambda x:x[1])
  print(list_unique)
  print(sorted_list)
def without_lambda():
  list_unique=set(list_employee)
  def sec_char(str1):
    return str1[1]
  result=sorted(list_unique,key=sec_char)
  return result
print("With Lambda result")
with_lambda()
print("Without Lambda result")
without_lambda()

With Lambda result
{'vaishnavi', 'bhagyashree', 'disha', 'trupti'}
['vaishnavi', 'bhagyashree', 'disha', 'trupti']
Without Lambda result

['vaishnavi', 'bhagyashree', 'disha', 'trupti']

Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

In [13]:
Employee_dict={}
for i in range(0,5):
  name=input("Enter name:")
  id=input("Enter id:")
  Employee_dict[id]=name
d2={}
d3={}
print(Employee_dict)
d2=sorted(Employee_dict.items(),key= lambda k:k[0])
print("Sorted by id ")
print(d2)
d3=sorted(Employee_dict.items(),key= lambda k:k[1])
print("Sorted by name ")
print(d3)

Enter name:disha
Enter id:23
Enter name:anuja
Enter id:43
Enter name:gautamee
Enter id:11
Enter name:vaishnavi
Enter id:46
Enter name:aishwarya
Enter id:04
{'23': 'disha', '43': 'anuja', '11': 'gautamee', '46': 'vaishnavi', '04': 'aishwarya'}
Sorted by id
[('04', 'aishwarya'), ('11', 'gautamee'), ('23', 'disha'), ('43', 'anuja'), ('46', 'vaishnavi')]
Sorted by name
[('04', 'aishwarya'), ('43', 'anuja'), ('23', 'disha'), ('11', 'gautamee'), ('46', 'vaishnavi')]

Q. Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [16]:
numbers=input("enter the numbers")
numbers_list=numbers.split()
new_list=map(float,numbers_list)
print(list(new_list))

enter the numbers34 45 56 76
[34.0, 45.0, 56.0, 76.0]

Q Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [11]:
numbers= [2.76,5.87,8.90,9.01]
new_list=map(str,numbers)
print('|'.join(list(new_list)))

2.76|5.87|8.9|9.01

Q Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [15]:
l1=[10,20,30]
def square(n):
    return n**2
l2=list(map(square,l1))
print(l2)
res=0
for val in l2:
  res=res+val
print(res)

[100, 400, 900]
1400

In [13]:
l1=[10,20,30]
l2=list(map(lambda x:x**2,l1))
print(l2)
res=0
for val in l2:
  res=res+val
print(res)

[100, 400, 900]
1400